.main{
   
    height: 100px;
}
.searchbar{
    position: absolute;
    left: 200px;
    top: 90px;
   

}
.searchtextfield{
    width: 700px;  
   background-color: white;
}
.signin{
    position: absolute;
    right: 200px;
    top: 100px;
    width: 100px;
}



@media screen 
  and (device-width: 480px) 
  and (device-height: 700px) 
  and (-webkit-device-pixel-ratio: 2) {

   .main{
      
      width: 150px;
      height: 40px;
   }
   .searchbar{
       position: relative;
       left: 15px;
       top: 30px;
     
   }
  .searchtextfield{
    width: 100px;
    background-color: white;
  
  }

  
  .signin{
    position: absolute;
    right: 340px;
    top: 75px;
    width: 20px;
    height: 5px;
}

.btn-primary{
    height: 40px;
    font-size: 10px;
}


}








