.main{
    background-color: white;
    height: 50px;
}
.searchbar{
    position: absolute;
    left: 200px;
    top: 100px;
}
.searchtextfield{
    width: 700px;
}
.signin{
    position: absolute;
    right: 200px;
    top: 100px;
    width: 50px;
}