.main{
   
    height: 100px;
}
.searchbar{
    position: absolute;
    left: 15em;
    top: 90px;
   

}
.searchtextfield{
    width: 700px;  
   background-color: white;
}
.signin{
    position: absolute;
    right: 200px;
    top: 100px;
    width: 100px;
}





* {
    margin: 0;
    padding: 0;
}


/* Default Design */

 
/* For Tablet View */
@media only screen and (min-device-width: 768px)
   {

    .searchbar{
        position: absolute;
        left: 15em;
        top: 90px;        
    }

    .searchtextfield{
       width: 650px;
       background-color: white;
    }

    .signin{
        position: absolute;
        right: 20em;
        top: 100px;
        width: 100px;
    }

}

 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
    and (orientation: portrait) {
        .searchbar{
            position: absolute;
            left: 10em;
            top: 90px;        
        }
    
        .searchtextfield{
           width: 200px;
           background-color: white;
        }
    
        .signin{
            position: absolute;
            right: 15em;
            top: 100px;
            width: 100px;
        }
       
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
    and (orientation: landscape) {
    
        .searchbar{
            position: absolute;
            left: 10em;
            top: 90px;        
        }
    
        .searchtextfield{
           width: 200px;
           background-color: white;
        }
    
        .signin{
            position: absolute;
            right: 15em;
            top: 100px;
            width: 100px;
        }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen
    and (max-device-width: 640px) {
        .searchbar{
            position: absolute;
            left: 10em;
            top: 90px;        
        }
    
        .searchtextfield{
           width: 200px;
           background-color: white;
        }
    
        .signin{
            position: absolute;
            right: 15em;
            top: 100px;
            width: 100px;
        }
}
 
