

@media screen 
  and (device-width: 480px) 
  and (device-height: 700px) 
  and (-webkit-device-pixel-ratio: 2) {

    .container{
        height: fit-content;
        width: 230px;
        
    }
    .pharma-App{
      width: 230px;
      align-items: center;
     
    }
    .header{
      width: 20px;
     
    }
    .backgroundImage{
      width: 230px;
    }

  }